
<%= form_for @question do |f| %>
  Options:
  <ul>
    <%= f.fields_for :answers do |answers_form| %>
      <li>
        <%= answers_form.label :body %>
        <%= answers_form.text_field :body %>
      </li>

    <% end %>
    <%= f.submit "Submit" %>
  </ul>
<% end %>
