<% content_for(:nav) do %>
<% end %>
<hr>

<ul>
  <% @questions.each do |question| %>
    <div id="question_<%=question.id%>">
      <h2>Would you rather ?</h2>

      <%= link_to question.answers.first.body, answer_votes_path(question.answers.first), method: "post", remote: true  %>
      <span id="answer_<%=question.answers.first.id%>"><%= question.answers.first.votes.count %></span>

      <%= link_to question.answers.last.body,answer_votes_path(question.answers.last), method: "post",  remote: true %>
      <span id="answer_<%=question.answers.last.id%>"><%= question.answers.last.votes.count %></span>

    </div>
    <hr>
  <% end %>
</ul>

<br>
<br>
<div class="container-fluid">
<%= link_to "Add a Question", new_question_path, id: "new_question_link", class: "btn btn-info", remote: true %>
</div>
